* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    width: 700px;
    margin: 0 auto;
}

.widgets {
    height: 200px;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.father {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;

}
.big {
    display: flex;
    flex-grow: 1;
    width: 200px;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    background: blue;



}
.contacts {
    height: 200px;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}