@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .header {
        max-width: 375px;

    }

    .navBar_grid {

        column-gap: 5px;
        margin-left: 20px;

    }

    .navbar img {
        display: none;
    }

    .btn-group {
        margin-left: 10px;

    }

    .town {
        font-size: 12px;
        line-height: 14px;

    }

    .btn-group button {
        height: 35px;
        background: #0F2438;
        border: none;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-align: center;


    }

    .btn-group button:hover {
        background: #0F2438;
        border: #0F2438;
    }

    .header__information {

        padding-bottom: 10px;
        padding-top: 15px;


    }

    .header__information_blockFirst {
        max-width: 375px;
        column-gap: 15px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .blockFirst_logo img {
        width: 36.78px;
        height: 40.2px;
        margin-right: 10px;
    }

    .blockFirst_logo h2 {
        font-size: 18px;


    }

    .blockFirst_logo p {
        font-size: 10px;
    }

    .blockFirst__connection {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-left: 10px;


    }

    .blockFirst_phoneNumber {
        width: 109px;
    }


    .btn_WhatsApp.btn_WhatsApp {
        width: 140px;
        height: 18px;
        font-size: 8px;
    }

    .blockFirst_phoneNumber p {
        font-size: 14px;
        line-height: 16px;


    }

    .blockFirst_phoneNumber a {
        font-size: 10px;
        line-height: 12px;
    }

    .header__information_blockSecond {
        margin-left: 10px;
        column-gap: 30px;

    }

    .blockSecond_catalog {
        width: 35px;
        height: 35px;
    }

    .blockSecond_dropdownContent {
        width: 35px;
        align-items: center;

    }

    .site-search {
        width: 240px;
        height: 35px;
        font-size: 11px;
    }

    #input-group-button-right {
        width: 35px;
        height: 35px;

    }

    .blockSecond_btnFind {
        display: none;

    }

    .blockSecond_btnFind2 {

    }

    .main {
        margin-left: 0;
    }

    .main__grid {
        flex-direction: column;
        margin-top: 10px;
    }

    #carouselWithCaptions {
        height: 200px;
    }

    .main__grid__left_picture {
        margin-left: 191px;
        margin-top: 50px;
        width: 131px;
        height: 111px;


    }

    .main__grid__left_pictureText {
        margin-right: 10px;
        text-align: left;
    }

    .carousel-caption h5 {
        margin-top: 50px;
        font-size: 16px;
        line-height: 19px;


    }

    .carousel-caption {
        bottom: -0.5rem;
    }


    .carouselName {
        font-size: 10px;
        line-height: 12px;
    }

    .carouselPrice {
        font-size: 20px;
        line-height: 23px;


    }

    .carousel-caption button {
        width: 124px;
        height: 34px;
        font-size: 12px;

    }

    .main__grid_right {
        flex-direction: row;
        column-gap: 5px;
        margin-top: 10px;
    }

    .main__grid__right_block2 {
        overflow: hidden;
    }

    .main__grid__right_block1,
    .main__grid__right_block2 {

        height: 180px !important;
    }

    .main__grid__right__block1_description p:nth-child(0n+2),
    .main__grid__right__block2_description p:nth-child(0n+2) {
        font-size: 12px;
        line-height: 14px;
        color: #525252;
    }

    .main__grid__right__block1_description div:nth-child(0n+3),
    .main__grid__right__block2_description div:nth-child(0n+3) {
        font-size: 14px;
        line-height: 16px;
    }

    .main__grid__right__block1_description span,
    .main__grid__right__block2_description span {
        font-size: 12px;
        line-height: 14px;
    }

    .main__grid__right__block1_description button,
    .main__grid__right__block2_description button {
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }

    .main__advert {
        margin-bottom: 10px;
        margin-top: -276px;
    }


    .main__advert_product1 h4,
    .main__advert_product2 h4,
    .main__advert_product3 h4 {

        font-size: 22px;
        line-height: 25px;
    }

    .main__advert_product1 p,
    .main__advert_product2 p,
    .main__advert_product3 p {

        font-size: 12px;
        line-height: 20px;
    }

    .main__advert_product1,
    .main__advert_product2,
    .main__advert_product3 {
        padding-left: 19px;
    }

    .carousel-control-next-icon {
        background-image: url("img/next.png");
        width: 20px;
        height: 20px;


    }

    .carousel-control-prev-icon {
        background-image: url("img/previous.png");
        width: 20px;
        height: 20px;

    }

    .main__divisions {
        display: inline-flex;
        column-gap: 10px;
    }


    .main__divisions button:first-child {
        width: 164px;
        height: 36px;

    }

    .main__divisions button:nth-child(2),
    .main__divisions button:nth-child(3) {
        width: 82px;
        height: 36px;

    }


    .main__divisions_btnText1,
    .main__divisions_btnText2,
    .main__divisions_btnText3 {
        font-size: 14px;
        line-height: 16px;
    }

    .main__divisions button:nth-child(3) span {
       display: none;

    }


    .main__products_img1,
    .main__products_img2,
    .main__products_img3,
    .main__products_img4 {
        height: 150px;

    }

    .main__products__item1_body h5,
    .main__products__item2_body h5,
    .main__products__item3_body h5,
    .main__products__item4_body h5 {

        font-size: 12px;
        line-height: 17px;}

    .main__products__item_btn button {
        width: 110px;
        height: 37px;
        font-size: 12px;


    }


    .main__products__item_btn {
        column-gap: 9px;
    }


.main__products__item_btn img:nth-child(3) {

    display: none;
}

    .main__showMore button {
        width: 160px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 50px;
    }


}


