* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;


}

.header {
    max-width: 1440px;


}

.headerTop {
    height: 36px;
    background-color: #0F2438;

}

.navBar_grid {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #0F2438;
    column-gap: 335px;

}

.town, .nav-link, .nav-item {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.yourTown {
    text-decoration-line: underline;
}

.navbar {


}

.navBar_others {
    display: flex;
    flex-direction: row;

}

.header__information {

    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    padding-top: 27px;


}

.header__information_blockFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 81px;

}

.blockFirst_working, .blockFirst_logo {
    display: flex;
    flex-direction: row;

}

.blockFirst_logo img {
    width: 66px;
    height: 71px;
    margin-right: 6px;
}

.blockFirst_working img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}


.blockFirst_logo h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.blockFirst_logo p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;

}

.blockFirst_working p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.blockFirst_address {
    display: flex;
    flex-direction: row;
}

.blockFirst_address img {
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

.btn_WhatsApp.btn_WhatsApp {
    width: 204px;
    height: 30px;
    border: none;
    background: #E1EFD0;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;

}

.btn_WhatsApp img {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.blockFirst_phoneNumber {
    display: flex;
    flex-direction: column;
    width: 157px;
    height: 40px;

}

.blockFirst_phoneNumber p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    color: #0F2438;


}

.blockFirst_phoneNumber a {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    text-align: end;

}

.header__information_blockSecond {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 100px;

}

.input-group {

    width: unset;
}

.blockSecond_catalog {
    width: 180px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;

}

.blockSecond_dropdown {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 7px;

}

.blockSecond_dropbtn {
    background: #005BB9;
    color: #FFFFFF;
    border: none;
    margin: 10px 40px 0 5px;


}

.blockSecond_dropdownContent {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-top: 10px;
}


.blockSecond_dropdownContent a {
    width: 18px;
    height: 2px;;
    background: #FFFFFF;


}


.site-search {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    border: none;
}

.input-group button {
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;


}

.blockSecond_grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;

}

.blockSecond_enter,
.blockSecond_like {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.blockSecond_basket {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.blockSecond_enter img,
.blockSecond_like img,
.blockSecond_basket img {
    width: 28px;
    height: 28px;
    margin-right: 6px;

}

.blockSecond_enter a,
.blockSecond_like a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    text-decoration: none;

}

.blockSecond_basket a {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    text-decoration: none;
}

.blockSecond_like::before,
.blockSecond_like::after {
    content: "";

}

.blockSecond_like {
    position: relative;
}

.blockSecond_like::before {
    width: 2px;
    height: 28px;
    background: #E1E5F8;
    position: absolute;
    left: -10px;


}

.blockSecond_like::after {
    width: 2px;
    height: 28px;
    background: #E1E5F8;
    position: absolute;
    left: 118px;


}

.main {
    max-width: 1440px;

}

.main__grid {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}


#carouselWithCaptions {
    background: url("img/bgBlue.png") no-repeat center/cover;
    height: 390px;
}

.carousel-caption button {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;

}


.main__grid__left_picture {
    margin-left: 500px;


}

.main__grid__left_pictureText {
    margin-right: 348px;
    text-align: left;
}


.carousel-caption h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;

}

.carouselName {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;

}

.carouselPrice {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 43px;
    color: #005BB9;

}


.main__grid_right {
    height: 400px;
    flex-direction: column;
    row-gap: 10px;

}


.main__grid__right_block1,
.main__grid__right_block2 {
    display: flex;
    flex-direction: row;
    width: 340px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    row-gap: 10px;
}

.main__grid__right__block1_picture,
.main__grid__right__block2_picture {
    width: 80px;
    height: 74px;

}

.main__grid__right__block1_picture,
.main__grid__right__block2_picture {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-top: 20px;
}

.main__grid__right__block1_description h5,
.main__grid__right__block2_description h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    margin-top: 40px;

}

.main__grid__right__block1_description p:nth-child(0n+2),
.main__grid__right__block2_description p:nth-child(0n+2) {

    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.main__grid__right__block1_description div:nth-child(0n+3),
.main__grid__right__block2_description div:nth-child(0n+3) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.main__grid__right__block1_description span,
.main__grid__right__block2_description span {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;

}

.main__grid__right__block1_description button,
.main__grid__right__block2_description button {
    width: 57px;
    height: 49px;
    top: 583px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
}

.main__advert {
    margin-bottom: 70px;
}


.main__advert_grid {

    display: flex;
    flex-direction: row;
    margin-top: 70px;
    box-sizing: border-box;
    column-gap: 10px;

}

.main__advert_product1,
.main__advert_product2,
.main__advert_product3 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    border-radius: 6px;


}

.main__advert_product1 h4,
.main__advert_product2 h4,
.main__advert_product3 h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
    margin-top: 20px;

}

.main__advert_product1 p,
.main__advert_product2 p,
.main__advert_product3 p {

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.main__advert_product1 button,
.main__advert_product2 button,
.main__advert_product3 button {

    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.carousel-control-next-icon {
    background-image: url("img/next.png");
    width: 40px;
    height: 40px;


}

.carousel-control-prev-icon {
    background-image: url("img/previous.png");
    width: 40px;
    height: 40px;

}

.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;

}

/* li.active {*/
/*    background: #0F2438;*/
/*}*/

.main__divisions {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}


.main__divisions button:first-child {
    width: 241px;
    height: 55px;
    border: none;
    background: #005BB9;
    border-radius: 6px;
}

.main__divisions_btnText1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;

}

.main__divisions button:nth-child(2) {
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    background: white;

}

.main__divisions_btnText2,
.main__divisions_btnText3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    text-decoration: none;

}

.main__divisions button:nth-child(3) {
    width: 229px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    background: white;

}


.main__products_mark p:nth-child(even) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    text-align: left;

}

.main__products_mark p:nth-child(odd) {
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;

}

.main__products_img2 {
    position: relative;
}

.main__products_img2_discount {
    position: absolute;
}


.main__products_img1,
.main__products_img2,
.main__products_img3,
.main__products_img4 {
    height: 280px;

}

.main__products__item1_body > .card-title {
    margin-bottom: 33px;
}

.main__products__item2_body > .card-title {
    margin-bottom: 22px;
}

img, svg {
    vertical-align: middle;
    margin-right: 10px;
}

.main__products__item1_body h5,
.main__products__item2_body h5,
.main__products__item3_body h5,
.main__products__item4_body h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;


}

.main__products__item1_body > p:nth-child(3),
.main__products__item3_body > p:nth-child(3),
.main__products__item4_body > p:nth-child(3) {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #0A1A2C;
}

.main__products__item2_body > p:nth-child(3) {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.main__products__item2_body span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.main__products__item_btn button {
    width: 160px;
    height: 49px;
    left: 283px;
    top: 1430px;
    border: none;
    background: #005BB9;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;


}

.main__products__item_btn {
    display: flex;
    align-items: center;
    justify-content: center;


}

.main__showMore {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__showMore button {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    margin-bottom: 122px;

}

.main__news_border {
    height: 9px;
    background: #F5F5F5;
    margin-bottom: 42px;
}
.main__news_block {
    width: 110px;
    height: 30px;
    background: #0C1A2A;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-items: center;
    text-decoration: none;

}





















