html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;

}

.headerTop {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.nav__item img {
    width: 20px;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;

}


.menu__nav {
    display: flex;
    column-gap: 23px;
}

.nav__item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;


}


.header__phone {

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid white;
    padding-left: 15px;
}

.header__contacts {
    display: flex;
    align-items: center;
    column-gap: 45px;

}


.header__contacts p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #FF7400;
    padding: 0 19px;
    height: 47px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;


}

.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top: 203px;
    max-width: 500px;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}


.header__title h1 {
    font-size: 80px;
    line-height: 92px;

}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;

}

.header__title p::before {
    margin-right: 10px;
}

.header__title p::after {
    margin-left: 10px;
}

.header__main, .header button {
    margin-top: 35px;
}

.header__main_btn {
    display: flex;
    justify-content: center;
}

.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.about__rest_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 31px;

}

.about__res_item {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.item_color {
    font-size: 26px;
    line-height: 30px;
    color: #BC9060;


}

.about__res_item {
    top: 766px;
}

.about__res_item img {
    padding: 35px 109px 10px 114px;
    width: 126px;
    height: 104px;
}

.about__res_item h2 {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
    padding-bottom: 20px;
}

.about__res_item p {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #656363;;
    padding: 0 20px;

}

#one {
    position: absolute;
    left: 370px;

}

#two {
    position: absolute;

}

#three {
    position: absolute;
    right: 370px;
}

