@media screen and (max-width: 375px) {



    .firstItem_description h1 {

        font-size: 30px;
        line-height: 32px;

    }

    .firstItem_picture,
    .secondItem_picture {
        max-width: 360px;
        overflow: hidden;
    }




    .standardsModern_picture {
        max-width: 195px;
    }
    .firstItem_picture img,
    .secondItem_picture img {
        width: 100vh;
    }
    
    
    .secondItem_description h2 {
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 2.42px;
    }



    .standardsDescription h2 {
        font-size: 18px;
        margin-top: 30px;
    }




    .standardsDescription {
        background: #003584;
        max-width: 370px;

    }


    .standardsDescription_paragraph {
        font-size: 16px;
        line-height: 32px;
        color: #FBFDFF;
        margin-left: 16px;
        margin-right: 15px;


    }
}